* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
  scrollbar-color: #201f1f #848484;
  scrollbar-width: thin;
}

body {
  min-height: 100vh;
  background: #37474f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px 20px 10px 20px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: #ef5350;
  border: 2px solid #ef5350;
  transition: 0.2s;
}

.add:hover {
  background: transparent;
  border: 2px solid #ef5350;
}
.create:hover {
  filter: brightness(1.5);
}

.form {
  position: absolute;
  top: 17%;
  left: 40%;
  background: #4a4a4a;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 35px;
  border: 2px solid #1a1a1a;
  border-radius: 7px;
  display: none;
  z-index: 999;
}

.form h2 {
  margin-bottom: 30px;
  font-size: 35px;
  color: #d32f2f;
}

.NT {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.NT span {
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.NT input {
  background: #424242;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px;
  width: 235px;
  border-radius: 4px;
}
.IN2 {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.IN2 input {
  width: 60px;
}

.create {
  color: #fff;
  border: none;
  padding: 7px 20px;
  background: linear-gradient(45deg, #f44336, #ef5350);
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.IN4 input {
  width: 65px;
}

.container {
  max-height: 70vh;
  width: 330px;
  background: #263238;
  padding: 13px;
  border-radius: 10px;
  margin-top: 130px;
  overflow: auto;
}

.card {
  width: 100%;
  min-height: 60px;
  background: rgb(128, 125, 125);
  border-radius: 5px;
  display: flex;
  padding: 5px 5px 5px 15px;
  margin: 10px 0;
  position: relative;
}

.card:hover {
  filter: brightness(1.3);
  cursor: pointer;
}
.card h4 {
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  height: 50px;
  border-radius: 50%;
}

.profile {
  display: flex;
}

.profile-inf {
  margin-left: 5px;
}

.card a {
  margin-left: auto;
  margin-top: auto;
  height: 23px;
  width: 23px;
}

.card a img {
  height: 23px;
  margin: 0 2px;
}

.card span {
  display: flex;
  max-width: 17px;
  overflow: hidden;
}

.card .profile-inf img {
  height: 17px;
  margin-top: 3px;
  background: #fff;
  margin-left: 5px;
  filter: invert(90%) sepia(88%) saturate(19%) hue-rotate(277deg)
    brightness(105%) contrast(104%);
}
.card .profile-inf .buton {
  display: flex;
}

.delete {
  position: absolute;
  padding: 0px 5px 2px 5px;
  right: 4px;
  top: 4px;
  font-weight: bold;
  font-size: 9px;
  border: none;
  border-radius: 3px;
  background: #db5252;
  opacity: 40%;
  cursor: pointer;
}
.delete:hover {
  opacity: 100%;
}

.media {
  margin: auto 0 0 auto;
}

.IN4 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.IN4 .valids {
  display: flex;
  align-items: center;
}
.IN4 .valids .check_box {
  padding: 7px;
  border: 1px solid #b7b7b7;
  margin-right: 7px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
}
.IN4 .valids .check_box:after {
  content: "";
  background: #3949ab;
  width: 75%;
  height: 75%;
  position: absolute;
  border-radius: 6px;
  transform: translate(-53%, -49%);
  display: none;
}
.IN4 .true .check_box:after {
  display: block;
}

.IN4 label {
  cursor: pointer;
}
.IN4 label:hover {
  opacity: 85%;
}
.card .media a img:hover{
  filter: brightness(5);
}