:root {
  --mainColor: #04cdff;
  --secondColor1: #ffa800;
  --secondColor2: #008ea5;
}
/*----------------Scrollbar----------------*/
* {
  scrollbar-color: #201f1f #848484;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 0.5em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #656eca;
  border: 2px solid #000;
  border-radius: 15px 0 0 15px;
}
/*----------------Scrollbar----------------*/
.heading p {
  color: #979797;
}
.heading h2 {
  color: var(--secondColor1);
}
.btn {
  background: var(--mainColor);
  color: #fff;
  box-shadow: 4px 4px 12px 0 #00000036;
}
.btn:hover:not(label) {
  outline: 2px solid var(--mainColor);
  color: var(--mainColor);
}
.see {
  color: var(--secondColor2);
}
nav.desktop .logo {
  background: url(../img/LogoL.png) no-repeat center;
  background-size: contain;
}
nav.desktop ul li a:not(.btn) {
  color: #000;
}
nav.desktop ul li a:hover:not(.btn) {
  color: var(--secondColor1);
}
nav.desktop ul li.active {
  background: var(--mainColor);
}
nav.desktop ul li.active a {
  color: #fff;
}
.toggle-mode {
  background: var(--mainColor);
}
.nums {
  color: #9d9d9d;
}
.nums ul li.active {
  color: #000;
}
.text h3 span {
  color: var(--secondColor1);
}
.text h2 .bg {
  background: url(/img/UnderlineL.png) no-repeat;
  background-size: contain;
}
.imgs .avatar {
  background: linear-gradient(45deg, var(--mainColor), var(--secondColor2));
  box-shadow: 5px 5px 13px 0 #00000061;
}
.imgs .border {
  border: 2px solid #3f51b5;
}
section.about .container .circules-container .circule-progress {
  box-shadow: inset 3px 3px 13px 0 #bbbbbb85;
}
section.about .container .circules-container .circule-progress .circule-heading,
section.about .container .circules-container .circule-progress .circule-value {
  color: var(--secondColor2);
}
section.about .container .circules-container .circule-progress:before {
  background: #fff;
}
section.about .container .experience {
  background: #45e5ff66;
}
section.about .container .experience:before {
  background: var(--mainColor);
}
section.about .container .experience .content h3 {
  color: #00869b;
}
section.services .cards-container .card {
  box-shadow: 6px 6px 15px 3px #7e7e7e42;
}
section.services .cards-container .card:hover {
  background: var(--mainColor);
}
section.services .cards-container .card:hover p {
  color: #fff;
}
section.services .cards-container .card h4 {
  color: var(--secondColor2);
}
section.services .cards-container .card p {
  color: #9f9f9f;
}
section.projects .container .project-count {
  background: #04cdff5e;
}
section.projects .container .project-count:before {
  background: var(--mainColor);
}
section.projects .container .project-container .project {
  box-shadow: 7px 7px 13px #00000042;
}
section.projects .container .project-container .project::before {
  background: #04ceff30;
}
section.testimonials .content h1 {
  color: #767676;
}
section.contact .bg {
  background: url(../img/BGL.png) no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  section.contact .bg {
    background: url(../img/BGML.png) no-repeat;
    background-size: cover;
  }
}
section.contact .container .content form .inputs input {
  background: #ebebeb;
  box-shadow: inset 3px 3px 13px 0 #cdcdcd;
}
section.contact .container .content form .inputs textarea {
  box-shadow: inset 4px 4px 13px 0 #93939396;
  background: #ebebeb;
}
section.contact .container .content form label {
  background: #dd9200;
}
section.contact .container .content form label:hover {
  color: #a56e00;
  outline: 1px solid;
}
footer {
  background: var(--secondColor1);
}
footer .social-icons span {
  background: var(--mainColor);
  color: #fff;
}
footer .social-icons span:before {
  border-color: var(--mainColor) transparent transparent;
}
footer .social-icons .icon:hover a {
  background: var(--mainColor);
}
footer .copie span {
  color: var(--secondColor2);
}
